@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Materials</h1>

<table class="table">
    <thead>
        <tr>
            <th>Material_ID</th>
            <th>Material_Name</th>
            <th>Material_Cost</th>
        </tr>
    </thead>
<tbody>
        @foreach (var material in Model.Material)
    {
        <tr>
            <td>@material.Material_ID</td>
            <td>@material.Material_Name</td>
            <td>@material.Material_Cost.ToString("C")</td> 
            <td>
                <a asp-page="./Edit" asp-route-id="@material.Material_ID" class="btn btn-primary">Edit</a>
                <a asp-page="./Delete" asp-route-id="@material.Material_ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody >
</table>

<a asp-page="./Create" class="btn btn-success">Create New</a>